<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Evolve.ConnectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;Integrated Security=True" />
    <add key="Evolve.Driver" value="sqlserver" />
    <add key="Evolve.Locations" value="Sql_Scripts" />
    <add key="Evolve.Command" value="migrate" />
  </appSettings>
</configuration>